@import "tailwindcss";

:root {
  --background: #0b090a;
  --foreground: #f5f3f4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-obsidian: #0b090a;
  --color-marigold: #ff6b00;
  --color-carmine: #d90429;
  --color-parchment: #f5f3f4;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-heading);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
